# Allow GameSpace to set process group
allow system_app cgroup:dir search;
allow system_app cgroup:file rw_file_perms;

# Obscura
allow system_app obscura_service:service_manager find;

